body{
    background-color: #EEF9BF;
}
.div-relogio{
    display: flex;
    justify-content: flex-end;
    margin-right: 50%;
    color: #A7E9AF;
    font-size: 20px;
}
h1 {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;

    color: #75B79E;

    text-align: center;
    vertical-align: Top;
    letter-spacing: -0.4%;

    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 122px;
    margin-right: 116px;
}
.memory-card{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    margin-top: 34px;

    width: 117px;
    height: 146px;   
    margin-left: 30px;

    background-color: #A7E9AF;
    border-radius: 5px;

    transform-style: preserve-3d;
    transition: 0.5s;    
}
.memory-card:active{
    transform: scale(0.97);
}
.memory-card.virar{
    transform: rotateY(180deg);
}
.frente-carta{
    transform: rotateY(180deg);
    position: absolute;
    width: 100px;
    height: 100px;  
}
.fundo-carta{
    width: 100px;
    height: 100px;      
}
.esconder img:nth-child(2){
    display: none;
}

@media (max-width: 614px) {	
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div-relogio{        
        margin-right: 0;        
    }
   .cards{
       flex-direction: column;
       margin-left: 0px;
       margin-right: 0px;
   }    
   .memory-card{
       margin-left: 0px;
   } 
   
}