h1 {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;

    color: #75B79E;

    text-align: center;
    vertical-align: Top;
    letter-spacing: -0.4%;

    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.memory-card{ 
    position: relative;  
    width: 117px;
    height: 146px;   
    margin-left: 30px;
    transform-style: preserve-3d;
}
.memory-card:active{
    transform: scale(0.97);
}
.memory-card.virar{
    transform: rotateY(180deg);
}
.frente-carta{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;  
}
.fundo-carta{
    width: 100%;
    height: 100%;    
    background-color: blue;
}